[DATABASE_CONFIGURATION]
DB_CONNECTION = DRIVER
DB_HOST = HOSTNAME
DB_PORT = PORT
DB_USERNAME = USERNAME
DB_PASSWORD = PASSWORD
DB_NAME = DATABASE NAME

[CRONTAB_CONFIGURATION]
HOURS = HOURS
MINUTES = MINUTES

[DROPBOX_INTEGRATION]
ACCESS_TOKEN = DROPBOX ACCESS TOKEN
DBX_MAX_BACKUP_AGE = DAYS

[SCP_CONFIGURATION]
SCP_HOSTNAME = HOSTNAME
SCP_USERNAME = USERNAME
SCP_PASSWORD = PASSWORD
SCP_PORT = PORT
SCP_MAX_BACKUP_AGE = DAYS

[TELEGRAM_BOT]
ACCESS_TOKEN = YOUR_BOT_TOKEN_ID
USER_ID = YOUR_GROUP_NAME
